In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\yp901\appdata\roaming\python\python312\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yp901\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\yp901\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
   -- ------------------------------------- 0.8/11.5 MB 2.0 MB/s eta 0:00:06
   --- ------------------------------------ 1.0/11.5 MB 1.9 MB/s eta 0:00:06
   ----- ---------------------------------- 1.6/11.5 MB 2.0 MB/s eta 0:00:05
   ------ --------------------------------- 1.8/11.5 MB 2.0 MB/s eta 0:00:05
   -------- ------------------------------- 2.4/11.5 MB 1.9 MB/s eta 0:00:05
   --------- ------------------------------ 2.6/11.5 MB 1.8 MB/s eta 0:00:05
   ---------- ----------------------------- 3.1/11.5 MB 1.9 MB/s eta 0:00:05
   ----------- ---------------------------- 3.4/11.5 MB 1.9 MB/s eta 0:00:05
   ------------- -------------------------- 3.9/11.5 MB 1.8 MB/s eta 0:00:05
   -------------- ------------------------- 4.2/11.5 MB 1.8 MB/s eta 0:00:05
   --------------- ------------------------ 4.5/11.5 MB 1.8 MB/s eta 0:00:04
   ---------------- ----------------------- 4.7/11.5 MB 1.8 MB/s eta 0:00:04
   ----------------- ---------------------- 5.0/11.5 MB 1.7 MB/s eta 0:00:04
   ------------------- -------------------- 5.5/11.5 MB 1.7 MB/s eta 0:00:04
   ------------------- -------------------- 5.5/11.5 MB 1.7 MB/s eta 0:00:04
   -------------------- ------------------- 5.8/11.5 MB 1.6 MB/s eta 0:00:04
   -------------------- ------------------- 5.8/11.5 MB 1.6 MB/s eta 0:00:04
   -------------------- ------------------- 5.8/11.5 MB 1.6 MB/s eta 0:00:04
   -------------------- ------------------- 6.0/11.5 MB 1.4 MB/s eta 0:00:04
   --------------------- ------------------ 6.3/11.5 MB 1.4 MB/s eta 0:00:04
   --------------------- ------------------ 6.3/11.5 MB 1.4 MB/s eta 0:00:04
   ---------------------- ----------------- 6.6/11.5 MB 1.3 MB/s eta 0:00:04
   ---------------------- ----------------- 6.6/11.5 MB 1.3 MB/s eta 0:00:04
   ----------------------- ---------------- 6.8/11.5 MB 1.3 MB/s eta 0:00:04
   ------------------------ --------------- 7.1/11.5 MB 1.2 MB/s eta 0:00:04
   ------------------------ --------------- 7.1/11.5 MB 1.2 MB/s eta 0:00:04
   ------------------------- -------------- 7.3/11.5 MB 1.2 MB/s eta 0:00:04
   ------------------------- -------------- 7.3/11.5 MB 1.2 MB/s eta 0:00:04
   ------------------------- -------------- 7.3/11.5 MB 1.2 MB/s eta 0:00:04
   ------------------------- -------------- 7.3/11.5 MB 1.2 MB/s eta 0:00:04
   ------------------------- -------------- 7.3/11.5 MB 1.2 MB/s eta 0:00:04
   -------------------------- ------------- 7.6/11.5 MB 1.1 MB/s eta 0:00:04
   -------------------------- ------------- 7.6/11.5 MB 1.1 MB/s eta 0:00:04
   --------------------------- ------------ 7.9/11.5 MB 1.0 MB/s eta 0:00:04
   --------------------------- ------------ 7.9/11.5 MB 1.0 MB/s eta 0:00:04
   --------------------------- ------------ 7.9/11.5 MB 1.0 MB/s eta 0:00:04
   ---------------------------- ----------- 8.1/11.5 MB 985.0 kB/s eta 0:00:04
   ----------------------------- ---------- 8.4/11.5 MB 974.0 kB/s eta 0:00:04
   ----------------------------- ---------- 8.4/11.5 MB 974.0 kB/s eta 0:00:04
   ------------------------------ --------- 8.7/11.5 MB 957.1 kB/s eta 0:00:03
   ------------------------------ --------- 8.7/11.5 MB 957.1 kB/s eta 0:00:03
   ------------------------------ --------- 8.9/11.5 MB 951.4 kB/s eta 0:00:03
   -------------------------------- ------- 9.4/11.5 MB 975.4 kB/s eta 0:00:03
   --------------------------------- ------ 9.7/11.5 MB 975.8 kB/s eta 0:00:02
   --------------------------------- ------ 9.7/11.5 MB 975.8 kB/s eta 0:00:02
   ----------------------------------- ---- 10.2/11.5 MB 990.0 kB/s eta 0:00:02
   ------------------------------------- -- 10.7/11.5 MB 1.0 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 1.0 MB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 1.0 MB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 989.7 kB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 989.7 kB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 989.7 kB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 989.7 kB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 926.0 kB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [3]:
import pandas as pd
ss=pd.Series([1,2,3,4,5])
print(type(ss))
print(ss)

<class 'pandas.core.series.Series'>
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
ss=pd.Series([1,2,3,4,5],index=[11,12,13,14,15])
print(ss)

11    1
12    2
13    3
14    4
15    5
dtype: int64

In [5]:
print(ss[1:3])
print(ss+2)
print(ss*3)

12    2
13    3
dtype: int64
11    3
12    4
13    5
14    6
15    7
dtype: int64
11     3
12     6
13     9
14    12
15    15
dtype: int64

In [6]:
ss.loc[11:14]

11    1
12    2
13    3
14    4
dtype: int64

In [7]:
data={
    'apples':[3,2,4,2],
    'oranges':[0,3,7,2]
}
purchase=pd.DataFrame(data)
print(purchase)

   apples  oranges
0       3        0
1       2        3
2       4        7
3       2        2

In [8]:
purchase=pd.DataFrame(data,index=['mick','robert','amit','allu arjun'])
print(purchase)
print(20*'-','customer order',20*'-')

print(purchase.loc['robert'])

            apples  oranges
mick             3        0
robert           2        3
amit             4        7
allu arjun       2        2
-------------------- customer order --------------------
apples     2
oranges    3
Name: robert, dtype: int64

In [9]:
from pathlib import Path
fp=Path('tempdata.csv')
fp.touch()
fp.exists()

True

In [11]:
df=pd.read_csv('tempdata.csv')
print(df)

  city  temp
0  DWD    49
1  LXR    50

In [13]:
df=pd.read_csv('tempdata.csv',index_col=0)
print(df)

      temp
city
DWD     49
LXR     50

In [14]:
df=pd.read_csv('tempdata.csv',index_col=1)
print(df)

     city
temp
49    DWD
50    LXR

In [15]:
fp=Path('petrol_consumption.csv')
fp.touch()
fp.exists()

True

In [17]:
f=pd.read_csv('petrol_consumption.csv')
print(f)
f.shape

    Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)  \
0         9.00            3571            1976                         0.525
1         9.00            4092            1250                         0.572
2         9.00            3865            1586                         0.580
3         7.50            4870            2351                         0.529
4         8.00            4399             431                         0.544
5        10.00            5342            1333                         0.571
6         8.00            5319           11868                         0.451
7         8.00            5126            2138                         0.553
8         8.00            4447            8577                         0.529
9         7.00            4512            8507                         0.552
10        8.00            4391            5939                         0.530
11        7.50            5126           14186                         0.525
12        7.00            4817            6930                         0.574
13        7.00            4207            6580                         0.545
14        7.00            4332            8159                         0.608
15        7.00            4318           10340                         0.586
16        7.00            4206            8508                         0.572
17        7.00            3718            4725                         0.540
18        7.00            4716            5915                         0.724
19        8.50            4341            6010                         0.677
20        7.00            4593            7834                         0.663
21        8.00            4983             602                         0.602
22        9.00            4897            2449                         0.511
23        9.00            4258            4686                         0.517
24        8.50            4574            2619                         0.551
25        9.00            3721            4746                         0.544
26        8.00            3448            5399                         0.548
27        7.50            3846            9061                         0.579
28        8.00            4188            5975                         0.563
29        9.00            3601            4650                         0.493
30        7.00            3640            6905                         0.518
31        7.00            3333            6594                         0.513
32        8.00            3063            6524                         0.578
33        7.50            3357            4121                         0.547
34        8.00            3528            3495                         0.487
35        6.58            3802            7834                         0.629
36        5.00            4045           17782                         0.566
37        7.00            3897            6385                         0.586
38        8.50            3635            3274                         0.663
39        7.00            4345            3905                         0.672
40        7.00            4449            4639                         0.626
41        7.00            3656            3985                         0.563
42        7.00            4300            3635                         0.603
43        7.00            3745            2611                         0.508
44        6.00            5215            2302                         0.672
45        9.00            4476            3942                         0.571
46        7.00            4296            4083                         0.623
47        7.00            5002            9794                         0.593

    Petrol_Consumption
0                  541
1                  524
2                  561
3                  414
4                  410
5                  457
6                  344
7                  467
8                  464
9                  498
10                 580
11                 471
12                 525
13                 508
14                 566
15                 635
16                 603
17                 714
18                 865
19                 640
20                 649
21                 540
22                 464
23                 547
24                 460
25                 566
26                 577
27                 631
28                 574
29                 534
30                 571
31                 554
32                 577
33                 628
34                 487
35                 644
36                 640
37                 704
38                 648
39                 968
40                 587
41                 699
42                 632
43                 591
44                 782
45                 510
46                 610
47                 524

(48, 5)

In [19]:
print(f.head())
print(45*'-')
print(f.head(3))

   Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)  \
0         9.0            3571            1976                         0.525
1         9.0            4092            1250                         0.572
2         9.0            3865            1586                         0.580
3         7.5            4870            2351                         0.529
4         8.0            4399             431                         0.544

   Petrol_Consumption
0                 541
1                 524
2                 561
3                 414
4                 410
---------------------------------------------
   Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)  \
0         9.0            3571            1976                         0.525
1         9.0            4092            1250                         0.572
2         9.0            3865            1586                         0.580

   Petrol_Consumption
0                 541
1                 524
2                 561

In [20]:
f.tail()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
43,7.0,3745,2611,0.508,591
44,6.0,5215,2302,0.672,782
45,9.0,4476,3942,0.571,510
46,7.0,4296,4083,0.623,610
47,7.0,5002,9794,0.593,524

In [21]:
f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Petrol_tax                    48 non-null     float64
 1   Average_income                48 non-null     int64
 2   Paved_Highways                48 non-null     int64
 3   Population_Driver_licence(%)  48 non-null     float64
 4   Petrol_Consumption            48 non-null     int64
dtypes: float64(2), int64(3)
memory usage: 2.0 KB

In [23]:
f.shape

(48, 5)

In [24]:
Empd=pd.DataFrame({
    'name':['vinay','vivek','vinay','vinod','vinay'],
    'age':[25,28,25,30,25],
    'salary':[500,600,500,700,500]
})
Empd=pd.concat([Empd,Empd])
print(Empd,"\n")
print("Duplicate Elements")

print(Empd.drop_duplicates(inplace=False))
Empd.duplicated()

    name  age  salary
0  vinay   25     500
1  vivek   28     600
2  vinay   25     500
3  vinod   30     700
4  vinay   25     500
0  vinay   25     500
1  vivek   28     600
2  vinay   25     500
3  vinod   30     700
4  vinay   25     500

Duplicate Elements
    name  age  salary
0  vinay   25     500
1  vivek   28     600
3  vinod   30     700

0    False
1    False
2     True
3    False
4     True
0     True
1     True
2     True
3     True
4     True
dtype: bool

In [25]:
print(Empd.duplicated(subset=['salary']))
print("*********************************************************************")
Empd.duplicated(subset=['age'])

0    False
1    False
2     True
3    False
4     True
0     True
1     True
2     True
3     True
4     True
dtype: bool
*********************************************************************

0    False
1    False
2     True
3    False
4     True
0     True
1     True
2     True
3     True
4     True
dtype: bool

In [26]:
print(Empd)
print('keeping required duplicates element \n')
firstrow=Empd.duplicated(keep='first')
lastrow=Empd.duplicated(keep='last')
print('after manipulation')
print(firstrow)
print(lastrow)

    name  age  salary
0  vinay   25     500
1  vivek   28     600
2  vinay   25     500
3  vinod   30     700
4  vinay   25     500
0  vinay   25     500
1  vivek   28     600
2  vinay   25     500
3  vinod   30     700
4  vinay   25     500
keeping required duplicates element

after manipulation
0    False
1    False
2     True
3    False
4     True
0     True
1     True
2     True
3     True
4     True
dtype: bool
0     True
1     True
2     True
3     True
4     True
0     True
1    False
2     True
3    False
4    False
dtype: bool